# vim tmp file
*.swp

# bundle 下文件为 vundle 管理
/bundle/*
!/bundle/README.md

# vim undofile 保存位置
/vim-undodir/*
!/vim-undodir/README.md

# vim session 保存位置
/vim-sessions/*
!/vim-sessions/README.md

# php-manual 位置
/php-manual/*
!/php-manual/README.md
!/php-manual/vim-php-manual.tgz


# plugin 产生的临时文件
/autoload/conque_term/conque_globals.pyc
/autoload/conque_term/conque_sole_shared_memory.pyc
/autoload/conque_term/conque_sole_subprocess.pyc
/autoload/conque_term/conque_win32_util.pyc
